<footer class="footer text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <form id="contact-form" action="" method="post" novalidate="novalidate">
                    <div class="mb-3">
                        <input type="email" class="form-control" id="fullNameInput" placeholder="Imię i nazwisko">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="Adres e-mail">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Wpisz wiadomość" id="messageInput" style="height: 100px"></textarea>
                    </div>
                    <button class="btn btn-primary" id="submitBtn">Wyślij</button>
                </form>
            </div>
            <div class="col-6 address">
                <address>AGROMMK Sp. z o.o.<br>
                    <i class="bi bi-building"></i> 25-650 Kielce, ul. Skrajna 86<br>
                    <i class="bi bi-phone"></i> +48 691 745 345<br>
                    <i class="bi bi-envelope"></i>
                    <a href="mailto:info@agrommk.pl">info@agrommk.pl</a><br>
                    <i class="bi bi-globe"></i>
                    <a href="http://www.agrommk.pl/">www.agrommk.pl</a><br>REGON: 368945675<br>NIP: 9591999714<br>KRS: 0000708230</address>
                <a href="https://www.facebook.com/barisocoffee/" title="Facebook Bariso" target="_blank">
                    <i class="bi bi-facebook" style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <p>Copyrights 2020 by AGROMMK |<a href="polityka-prywatnosci.html"> Polityka prywatności</a> | Design by Marcin Snoch</p>
    </div>
</footer>
<img src="img/to-top.png" id="toTop" alt="Back to top"/>
<script src="./js/all.js"></script>
</body>
</html>